/**Utils**/
/*BreakPoints*/
$breakpoints-map: (tablet: 768px, desktop: 1060px);

/*Palette de couleur*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gray-color: #F5F5F5;
$dark-gray: darken($gray-color, 75%);
$white: #FFF;

/*Mixins*/
@mixin breakpoints($min-device)
{
  @media screen and (min-width: map-get($breakpoints-map, $min-device))
  {
    @content;
  }
}

@mixin shadow-box($color: darken($gray-color, 20%)) 
{
  box-shadow: 0 5px 10px $color;
}

@mixin gray-background($scale : 0%) 
{
  background-color: darken($gray-color, $scale)
}

@mixin heart-transition{
  .regular_heart
  {
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    transition: color 150ms 50ms ease;
    
    @include breakpoints(tablet)
    {
      font-size: 2.4rem;
    }

    @include breakpoints(desktop)
    {
      font-size: 2.8rem;
    }

    &:hover
    {
      color: transparent;
    }
    
    &:hover > .full_heart
    {
      transform: scale(1);
    }
  }

  .full_heart
  {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(170deg, $secondary-color, $primary-color);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    transform: scale(0);
    transition: transform 150ms 100ms ease-in-out;
  }
}

/*Police d'écriture*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

/**Base**/
body, ul
{
  font-family: 'roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a
{
  text-decoration: none;
  color: #000;
}

li
{
  list-style: none;
  
  @include breakpoints(tablet)
  {
    text-align: center;
    font-size: 1.2rem;
  }

  @include breakpoints(desktop)
  {
    font-size: 1.5rem;
  }
}

h1, h2, h3
{
  margin: 0;
}

.flex
{
  display: flex;
}

/**Layout**/
/*header*/
.header_home
{
  height: 70px;
  padding-top: 10px;
  @include breakpoints(desktop)
  {
    height: 100px;
  }

  img 
  {
    margin: auto;
    width: 200px;
    @include breakpoints(tablet)
    {
      width: 245px;
    }
    @include breakpoints(desktop)
    {
      width: 300px
    }
  }
}

/*footer*/
footer
{
  background-color: $dark-gray;
  color: $white;
  padding: 20px 20px 30px;
  
  h3
  {
    font-family: 'shrikhand', cursive;
    font-weight: 400;
    margin-bottom: 12px;
    font-size: 1.3rem;
    
    @include breakpoints(tablet)
    {
      font-size: 1.8rem;
      text-align: center;
    }

    @include breakpoints(desktop)
    {
      font-size: 2.2rem;
    }
  }

  a
  {
    color: $white;
    line-height: 1.5rem;
    
    @include breakpoints(tablet)
    {
      line-height: 1.8rem;
    }

    @include breakpoints(desktop)
    {
      line-height: 2.2rem;
    }

    i
    {
      font-size: 0.8rem;
      width: 10px;
      margin-right: 10px;

      @include breakpoints(tablet)
      {
        font-size: 1.2rem;
        margin-right: 20px;
      }

      @include breakpoints(desktop)
      {
        font-size: 1.5rem;
        margin-right: 30px;
      }
    }
  }
}

/**Components**/
.btn
{
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  padding: 0 50px;
  border-radius: 1.5rem;
  border: none;
  color: $white;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: linear-gradient(170deg, $secondary-color, lighten($primary-color, 5%));
  @include shadow-box;
  @include breakpoints(tablet)
  {
    height: 70px;
    font-size: 1.5rem;
  }
  cursor: pointer;

  a
  {
    color: $white;
  }

  &--explore
  {
    padding: 15px 20px;
    @include breakpoints(tablet)
    {
      padding: 20px 30px;
    }
  }

  &:hover
  {
    background: linear-gradient(170deg, lighten($secondary-color, 10%), lighten($primary-color, 10%));
    @include shadow-box(darken($gray-color, 45%));
  }
}

/**Pages**/
/*Home*/
.location
{
  height: 50px;
  @include gray-background(5%);
  color: $dark-gray;
  box-shadow: inset 0 5px 5px -2px darken($gray-color, 15%);
  @include breakpoints(desktop)
  {
    height: 80px;
  }

  i
  {
    margin-right: 15px;
    @include breakpoints(tablet)
    {
      font-size: 1.2rem;
    }
    @include breakpoints(desktop)
    {
      font-size: 1.5rem;
    }
  }
  
  p
  {  
    margin: auto;
    font-weight: 600;
    @include breakpoints(tablet)
    {
      font-size: 1.2rem;
    }
    @include breakpoints(desktop)
    {
      font-size: 1.4rem;
    }
  }
}

.presentation
{
  padding: 20px 20px 60px;
  @include gray-background;
  text-align: center;

  h2
  {
    margin-bottom: 15px;
    font-size: 1.8rem;
    @include breakpoints(tablet)
    {
      font-size: 2.2rem;
    }
    @include breakpoints(desktop)
    {
      font-size: 2.4rem;
    }
  }

  p
  {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 1.2rem;
    @include breakpoints(tablet)
    {
      font-size: 1.5rem;
    }
  }
}

.functioning
{
  padding: 20px 20px 40px;

  h2
  {
    margin-bottom: 30px;
    font-size: 1.6rem;
    @include breakpoints(tablet)
    {
      margin-bottom: 40px;
      font-size: 2.2rem;
      text-align: center;
    }
    @include breakpoints(desktop)
    {
      font-size: 2.4rem;
    }
  }
}

.functioning_list
{
  width: 100%;
  @include breakpoints(tablet)
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
  }
}

.step
{
  height: 70px;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
  @include breakpoints(tablet)
  {
    width: 350px;
  }

  &__number
  {
    background-color: $primary-color;
    height: 24px;
    width: 24px;
    color: $white;
    border-radius: 1rem;
    z-index: 2;
    font-size: .9rem;
    @include breakpoints(tablet)
    {
      height: 30px;
      width: 30px;
      font-size: 1.1rem;
    }

    span
    {
      margin: auto;
    }
  }

  &__text
  {
    position: relative;
    left: -10px;
    @include gray-background;
    border-radius: 1.2rem;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    @include shadow-box;
    @include breakpoints(tablet)
    {
      font-size: 1.2rem;
    }

    i
    {
      width: 20px;
      color: lighten($dark-gray, 20%);
      margin: 0 25px 0 30px;
      font-size: 1.2rem;
      @include breakpoints(tablet)
      {
        width: 30px;
        font-size: 1.5rem;
      }
    }

    &:hover
    {
      background-color: lighten($primary-color, 34%);
      @include shadow-box(darken($gray-color, 35%));

      i
      {
        color: $primary-color;
      }
    }
  }
}

.restaurant
{
  padding: 40px 20px;
  @include gray-background;

  h2
  {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    @include breakpoints(tablet)
    {
      font-size: 2.2rem;
      text-align: center;
      margin-bottom: 40px;
    }
    @include breakpoints(desktop)
    {
      font-size: 2.4rem;
    }
  }
}

.restaurant_list
{
  @include breakpoints(tablet)
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 30px;
  }
}

.restaurant_card
{
  box-sizing: border-box;
  height: 250px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 20px;
  @include shadow-box;
  @include breakpoints(tablet)
  {
    width: 340px;
  }
  @include breakpoints(desktop)
  {
    width: 550px;
    height: 400px;
  }

  &__image
  {
    height: 70%;
    position: relative;
    @include breakpoints(desktop)
    {
      height: 75%;
    }

    img
    {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .new
    {
      position: absolute;
      right: 12px;
      top: 12px;
      background-color: $tertiary-color;
      color: darken($tertiary-color, 30%);
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 500;
      font-size: .9rem;
      @include breakpoints(tablet)
      {
        font-size: 1.25rem;
      }
      @include breakpoints(desktop)
      {
        font-size: 1.4rem;
      }
    }
  }

  &__description
  {
    height: 30%;
    background-color: $white;
    @include breakpoints(desktop)
    {
      height: 25%;
    }
    
    .description_text
    {
      flex-direction: column;
      flex: 1;
      padding-left: 15px;
      padding-top: 10px;
      text-align: left;
      font-size: 1.2rem;
      @include breakpoints(tablet)
      {
        font-size: 1.5rem;
      }
      @include breakpoints(desktop)
      {
        font-size: 1.7rem;
        padding-top: 15px;
      }

      .restaurant_name
      {
        margin: 0;
        font-weight: 700;
        margin-bottom: 5px;
        & + p
        {
          margin: 0;
          font-weight: 400;
          font-size: 1rem;
          @include breakpoints(tablet)
          {
            font-size: 1.2rem;
          }
          @include breakpoints(desktop)
          {
            font-size: 1.4rem;
          }
        }
      }
    }

    .like_heart
    {
      width: 75px;
      @include heart-transition;
      @include breakpoints(desktop)
      {
        width: 100px;
      }

      .regular_heart
      {
        margin: auto;
      }
    }
  }
}