@charset "UTF-8";
/**Utils**/
/*BreakPoints*/
/*Palette de couleur*/
/*background*/
/*Mixins*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@-webkit-keyframes zoom-card {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoom-card {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
/*Police d'écriture*/
/**Base**/
body, ul {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}
@media screen and (min-width: 768px) {
  li {
    text-align: center;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  li {
    font-size: 1.5rem;
  }
}

h1, h2, h3 {
  margin: 0;
}

.flex {
  display: flex;
}

/**Layout**/
/*header*/
.header_home {
  height: 70px;
  padding-top: 10px;
}
@media screen and (min-width: 1024px) {
  .header_home {
    height: 100px;
  }
}
.header_home img {
  margin: auto;
  width: 200px;
}
@media screen and (min-width: 768px) {
  .header_home img {
    width: 245px;
  }
}
@media screen and (min-width: 1024px) {
  .header_home img {
    width: 300px;
  }
}

.header_restaurant {
  height: 70px;
  padding-right: 70px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header_restaurant {
    height: 100px;
    padding-right: 100px;
  }
}
.header_restaurant a {
  width: 70px;
  height: 100%;
  color: #363636;
}
@media screen and (min-width: 1024px) {
  .header_restaurant a {
    width: 100px;
  }
}
.header_restaurant a i {
  margin: auto;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .header_restaurant a i {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1024px) {
  .header_restaurant a i {
    font-size: 2.5rem;
  }
  .header_restaurant a i:hover {
    text-shadow: #FF79DA 1px 1px 4px;
  }
}
.header_restaurant h1 {
  flex: 1;
  font-family: "shrikhand", cursive;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .header_restaurant h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .header_restaurant h1 {
    font-size: 2.5rem;
  }
}

/*footer*/
footer {
  background-color: #363636;
  color: #FFF;
  padding: 20px 20px 30px;
}
footer h3 {
  font-family: "shrikhand", cursive;
  font-weight: 400;
  margin-bottom: 12px;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  footer h3 {
    font-size: 1.8rem;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  footer h3 {
    font-size: 2.2rem;
  }
}
footer a {
  color: #FFF;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  footer a {
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  footer a {
    line-height: 2.2rem;
  }
}
footer a:hover {
  text-shadow: #9356DC 1px 1px 3px;
}
footer a i {
  font-size: 0.8rem;
  width: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  footer a i {
    font-size: 1.2rem;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  footer a i {
    font-size: 1.5rem;
    margin-right: 30px;
  }
}

/**Components**/
.btn {
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  padding: 0 50px;
  border-radius: 1.5rem;
  border: none;
  color: #FFF;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: linear-gradient(170deg, #FF79DA, #a16be0);
  box-shadow: 0 5px 10px #c2c2c2;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    height: 70px;
    font-size: 1.5rem;
  }
}
.btn a {
  color: #FFF;
}
.btn--explore {
  padding: 15px 20px;
}
@media screen and (min-width: 768px) {
  .btn--explore {
    padding: 20px 30px;
  }
}
.btn:hover {
  background: linear-gradient(170deg, #fface8, #ae80e5);
  box-shadow: 0 5px 10px #828282;
}

.dish {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  margin-top: 15px;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  box-shadow: 0 5px 10px #c2c2c2;
}
@media screen and (min-width: 768px) {
  .dish {
    width: 80%;
    margin: 20px 10% 0px 10%;
  }
}
@media screen and (min-width: 1024px) {
  .dish {
    width: 92%;
    margin: 20px 4% 0px 4%;
  }
}
.dish__text {
  width: 80%;
  padding: 12px 0 12px 10px;
  justify-content: space-between;
}
.dish__text .dish-name {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 5px;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .dish__text .dish-name {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .dish__text .dish-name {
    font-size: 1.6rem;
  }
}
.dish__text p {
  margin: 0;
  font-weight: 400;
  font-size: 0.9rem;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .dish__text p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .dish__text p {
    font-size: 1.3rem;
  }
}
.dish__price {
  align-self: flex-end;
  color: #363636;
  font-weight: 600;
  position: absolute;
  right: 20px;
  bottom: 11px;
}
@media screen and (min-width: 768px) {
  .dish__price {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .dish__price {
    font-size: 1.4rem;
  }
}
.dish:hover {
  cursor: pointer;
}

/**Pages**/
/*Home*/
.location {
  height: 50px;
  background-color: #e8e8e8;
  color: #363636;
  box-shadow: inset 0 5px 5px -2px #cfcfcf;
}
@media screen and (min-width: 1024px) {
  .location {
    height: 80px;
  }
}
.location i {
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .location i {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .location i {
    font-size: 1.5rem;
  }
}
.location p {
  margin: auto;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .location p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .location p {
    font-size: 1.4rem;
  }
}

.presentation {
  padding: 30px 20px 50px;
  background-color: whitesmoke;
  text-align: center;
}
.presentation h2 {
  margin-bottom: 15px;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .presentation h2 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .presentation h2 {
    font-size: 2.4rem;
  }
}
.presentation p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .presentation p {
    font-size: 1.5rem;
  }
}

.functioning {
  padding: 40px 20px;
}
.functioning h2 {
  margin-bottom: 30px;
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .functioning h2 {
    margin-bottom: 40px;
    font-size: 2.2rem;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .functioning h2 {
    font-size: 2.4rem;
  }
}

.functioning_list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .functioning_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 10px;
  }
}

.step {
  height: 70px;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .step {
    width: 350px;
  }
}
.step__number {
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  color: #FFF;
  border-radius: 1rem;
  z-index: 2;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .step__number {
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
  }
}
.step__number span {
  margin: auto;
}
.step__text {
  position: relative;
  left: -10px;
  background-color: whitesmoke;
  border-radius: 1.2rem;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 5px 10px #c2c2c2;
}
@media screen and (min-width: 768px) {
  .step__text {
    font-size: 1.2rem;
  }
}
.step__text i {
  width: 20px;
  color: dimgray;
  margin: 0 25px 0 30px;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .step__text i {
    width: 30px;
    font-size: 1.5rem;
  }
}
.step__text:hover {
  background-color: #efe6fa;
  box-shadow: 0 5px 10px #9c9c9c;
}
.step__text:hover i {
  color: #9356DC;
}

.restaurant {
  padding: 40px 20px;
  background-color: whitesmoke;
}
.restaurant h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .restaurant h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant h2 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 768px) {
  .restaurant_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 30px;
  }
}

.restaurant_card {
  box-sizing: border-box;
  height: 250px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px #c2c2c2;
}
@media screen and (min-width: 768px) {
  .restaurant_card {
    width: 340px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant_card {
    width: 550px;
    height: 400px;
  }
}
.restaurant_card:hover {
  -webkit-animation: zoom-card 500ms ease;
          animation: zoom-card 500ms ease;
}
.restaurant_card__image {
  height: 70%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .restaurant_card__image {
    height: 75%;
  }
}
.restaurant_card__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant_card__image .new {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  color: #32b091;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .restaurant_card__image .new {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant_card__image .new {
    font-size: 1.4rem;
  }
}
.restaurant_card__description {
  height: 30%;
  background-color: #FFF;
}
@media screen and (min-width: 1024px) {
  .restaurant_card__description {
    height: 25%;
  }
}
.restaurant_card__description .description_text {
  flex-direction: column;
  flex: 1;
  padding-left: 15px;
  padding-top: 10px;
  text-align: left;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .restaurant_card__description .description_text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant_card__description .description_text {
    font-size: 1.7rem;
    padding-top: 15px;
  }
}
.restaurant_card__description .description_text .restaurant_name {
  margin: 0;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurant_card__description .description_text .restaurant_name + p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .restaurant_card__description .description_text .restaurant_name + p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant_card__description .description_text .restaurant_name + p {
    font-size: 1.4rem;
  }
}
.restaurant_card__description .like_heart {
  width: 75px;
}
.restaurant_card__description .like_heart .regular_heart {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  transition: color 300ms 50ms ease;
}
@media screen and (min-width: 768px) {
  .restaurant_card__description .like_heart .regular_heart {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant_card__description .like_heart .regular_heart {
    font-size: 2.8rem;
  }
}
.restaurant_card__description .like_heart .regular_heart:hover {
  color: transparent;
}
.restaurant_card__description .like_heart .regular_heart:hover > .full_heart {
  transform: scale(1);
}
.restaurant_card__description .like_heart .full_heart {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: transform 150ms 50ms ease-in-out;
}
@media screen and (min-width: 1024px) {
  .restaurant_card__description .like_heart {
    width: 100px;
  }
}
.restaurant_card__description .like_heart .regular_heart {
  margin: auto;
}

/*restaurant*/
.main {
  background-color: #F5F5F5;
}

.restaurant_picture {
  height: 250px;
}
.restaurant_picture.la_palette_du_gout {
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center/cover;
}
.restaurant_picture.la_note_enchantee {
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") center/cover;
}
.restaurant_picture.a_la_francaise {
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") center/cover;
}
.restaurant_picture.le_delice_des_sens {
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") center/cover;
}
@media screen and (min-width: 768px) {
  .restaurant_picture {
    height: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant_picture {
    height: 450px;
  }
}

.restaurants {
  border-radius: 2rem 2rem 0 0;
  padding: 15px 15px 35px;
  transform: translateY(-30px);
  background-color: whitesmoke;
}
@media screen and (min-width: 768px) {
  .restaurants {
    transform: translateY(-55px);
    width: 80%;
    margin: auto;
    box-shadow: 0 5px 10px #c2c2c2;
    border-radius: 2rem 2rem;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    transform: translateY(-80px);
    width: 95%;
    padding-top: 25px;
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.restaurants_name {
  justify-content: space-between;
  align-items: baseline;
  margin-right: 25px;
}
.restaurants_name .regular_heart {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  transition: color 300ms 50ms ease;
}
@media screen and (min-width: 768px) {
  .restaurants_name .regular_heart {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants_name .regular_heart {
    font-size: 2.8rem;
  }
}
.restaurants_name .regular_heart:hover {
  color: transparent;
}
.restaurants_name .regular_heart:hover > .full_heart {
  transform: scale(1);
}
.restaurants_name .full_heart {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: transform 150ms 50ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .restaurants_name {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    row-gap: 40px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
.restaurants .rest-menu {
  margin-bottom: 45px;
}
@media screen and (min-width: 1024px) {
  .restaurants .rest-menu {
    margin-bottom: 0px;
    width: 45%;
    border-radius: 2rem;
    padding: 0px 0px 25px 0px;
  }
  .restaurants .rest-menu:hover {
    transform: scale(1.05);
    box-shadow: #ff13be 2px 2px 4px;
  }
}
.restaurants h2 {
  font-family: "shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .restaurants h2 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants h2 {
    font-weight: 400;
    font-size: 2.4rem;
  }
}
.restaurants h3 {
  margin: 20px 0px 0px 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .restaurants h3 {
    font-size: 1.4rem;
    margin: 20px 0px 0px 0px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants h3 {
    font-size: 1.8rem;
  }
}
.restaurants h3::after {
  content: "";
  display: block;
  height: 3.5px;
  width: 40px;
  background-color: #99E2D0;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .restaurants h3::after {
    height: 5px;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
  }
}
.restaurants .btn {
  display: block;
  margin: auto;
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .restaurants .btn {
    margin-top: 70px;
  }
}/*# sourceMappingURL=main.css.map */