/*Home Loader*/
.page_loader
{
    display: flex;
    position: fixed;
    z-index: 3;
    transform: scale(0);
    background: linear-gradient(170deg, $secondary-color, lighten($primary-color, 5%));
    opacity: 1;
    animation: load-background 3000ms 100ms backwards;

    .wrapper
    {
        width:200px;
        height:60px;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
    }

    .circle
    {
        width:20px;
        height:20px;
        position: absolute;
        border-radius: 50%;
        background-color: $white;
        left:15%;
        transform-origin: 50%;
        animation: circle .5s alternate infinite ease;
    }

    @keyframes circle
    {
        0%
        {
            top:60px;
            height:5px;
            border-radius: 50px 50px 25px 25px;
            transform: scaleX(1.7);
        }
        40%
        {
            height:20px;
            border-radius: 50%;
            transform: scaleX(1);
        }
        100%
        {
            top:0%;
        }
    }

    .circle:nth-child(2)
    {
        left:45%;
        animation-delay: .2s;
    }

    .circle:nth-child(3)
    {
        left:auto;
        right:15%;
        animation-delay: .3s;
    }

    .shadow
    {
        width:20px;
        height:4px;
        border-radius: 50%;
        background-color: rgba(0,0,0,.5);
        position: absolute;
        top:62px;
        transform-origin: 50%;
        z-index: -1;
        left:15%;
        filter: blur(1px);
        animation: shadow .5s alternate infinite ease;
    }
    
    @keyframes shadow
    {
        0%
        {
            transform: scaleX(1.5);
        }
        40%
        {
            transform: scaleX(1);
            opacity: .7;
        }
        100%
        {
            transform: scaleX(.2);
            opacity: .4;
        }
    }

    .shadow:nth-child(4)
    {
        left: 45%;
        animation-delay: .2s
    }

    .shadow:nth-child(5)
    {
        left:auto;
        right:15%;
        animation-delay: .3s;
    }

    .wrapper span
    {
        position: absolute;
        font-family: 'shrikhand', cursive;
        font-size: 1.8rem;
        letter-spacing: 5px;
        color: $white;
        top: 75px;
        left: -20px;
    }

    @keyframes load-background
    {
        0%
        {
            transform: scale(1);
            height: 100vh;
            width: 100vw;
        }
        75%
        {
            opacity: 1;
        }
        100% 
        {
            transform: scale(1);
            height: 100vh;
            width: 100vw;
            opacity: .2;
        }
    }
}

/**Dish**/
/*Dish Loader*/
.dish
{
    opacity: 0;
    animation: fadein 3000ms;

    @keyframes fadein
    {
        from
        {
            transform: translateY(40px);
            opacity: 0;
        }
        to
        {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @for $i from 1 through ($max-dish)
    {
        &:nth-of-type(#{$i})
        {
            animation: fadein 800ms $menu-appear-delay*$i forwards;
            @include breakpoints(desktop)
            {  
                animation-delay: 3000ms;
                animation: fadein 800ms 500ms*$i forwards;
            }
        }
    }
}

/*Dish Valid*/
.dish
{
    &__text
    {
        transform: scaleX(1);
        transform-origin: left;
        @include valid-transition-timing(width);
    }

    &__price
    {
        transform-origin: right;
        @include valid-transition-timing(transform);
    }

    .dish-valid
    {
        display: flex;
        background-color: $tertiary-color;
        width: $valid-transition-width;
        transform-origin: right;
        transform: scaleX(0);
        @include valid-transition-timing(transform);

        .valid-icon
        {
            color: $white;
            font-size: 1.5rem;
            margin: auto;
            transform: rotate(0deg);
            @include valid-transition-timing(transform);
        }
    }

    &:hover .dish__text
    {
        width: 60%;

        .dish-name, p
        {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &:hover .dish-valid
    {
        transform: scaleX(1);
    }

    &:hover .valid-icon
    {
        transform: rotate(360deg);
    }

    &:hover .dish__price
    {
        transform: translateX(-$valid-transition-width);
    }
}

/*Menu Loader(desktop-only)*/
.rest-menu
{
    @include breakpoints(desktop)
    {
        opacity: 1;
        transform: scale(1);
        animation: reveal 3000ms;

        @keyframes reveal
        {
            from
            {
                transform: scale(0);
                opacity: 0;
            }
            to
            {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}