body, ul
{
  font-family: 'roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a
{
  text-decoration: none;
  color: #000;
}

li
{
  list-style: none;
  @include breakpoints(tablet)
  {
    text-align: center;
    font-size: 1.2rem;
  }
  @include breakpoints(desktop)
  {
    font-size: 1.5rem;
  }
}

h1, h2, h3
{
  margin: 0;
}

.flex
{
  display: flex;
}