footer
{
  background-color: $dark-gray;
  color: $white;
  padding: 20px 20px 30px;

  h3
  {
    font-family: 'shrikhand', cursive;
    font-weight: 400;
    margin-bottom: 12px;
    font-size: 1.3rem;
    @include breakpoints(tablet)
    {
      font-size: 1.8rem;
      text-align: center;
    }
    @include breakpoints(desktop)
    {
      font-size: 2.2rem;
    }
  }

  a
  {
    color: $white;
    line-height: 1.5rem;
    @include breakpoints(tablet)
    {
      line-height: 1.8rem;
    }
    @include breakpoints(desktop)
    {
      line-height: 2.2rem;
    }

    &:hover
    {
      text-shadow: $primary-color 1px 1px 3px;
    }

    i
    {
      font-size: 0.8rem;
      width: 10px;
      margin-right: 10px;
      @include breakpoints(tablet)
      {
        font-size: 1.2rem;
        margin-right: 20px;
      }
      @include breakpoints(desktop)
      {
        font-size: 1.5rem;
        margin-right: 30px;
      }
    }
  }
}